/*
 * styles of the four color palette screen.
 */

#color-palette {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10015;

    .color-palette-container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;

        .color-palette-item {
            opacity: 0.3;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
