$bg: #CCC;

.boardfy-toolbar {
    position: fixed;
    left: 5px;
    top: 5px;

    display: 'inline-block';
    padding: 5px;
    border-radius: 5px;

    background: $bg;
    
    z-index: 10005;

    > button {
        width: 28px;
        height: 28px;

        padding: 2px;

        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
        }

        span {
            display: none;
        }

        &.active {
            background: chocolate;
        }
    }
}

